{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Create a ticket-->
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="mb-2">Create a New Ticket</h2>
            <p>Please provide as much detail as possible to help our team!</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'tickets/ticket_form.html' %}
                <button type="submit" class="btn btn-primary my-3" style="background-color:#00856f">Create
                    Ticket</button>
                <div class="col-md-6 text-end mb-4">
                    <a href="{% url 'tickets' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}