{% extends "base.html" %}
{% load static %}

{% block title %}Tickets{% endblock %}

{% block navbar_link %}/tickets/{% endblock %}

{% block navbar_title %}Tickets{% endblock %}

{% block content %}

<!-- index.html content starts here -->
<div class="container p-2">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div></div>
                <div class="card-body">
                    <h5 class="card-title" a href="#">{{ ticket.title }}</h5>
                    <p class="card-text">{{ ticket.job_description }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8" style="background-color: aquamarine;">
            
        </div>
    </div>
</div>


<!-- index.html content ends here -->
{% endblock %}

<!-- Copyright -->
{% block copyright %}
Copyright 2024 Megan Walford
{% endblock %}