{% extends "base.html" %}

{% block title %}Tickets{% endblock %}

{% block navbar_link %}/tickets/{% endblock %}

{% block navbar_title %}Tickets{% endblock %}

{% block content %}

<!-- index.html content starts here -->
<div class="container p-2">
    <div class="row">
        <h1 class="py-2">Tickets</h1>
        <div class="col-sm-12 col-md-4">
            {% for tickets in object_list %}
            <div class="card mb-2">
                <div class="card-body">
                    <a href="#" class="ticket-link">
                        <h4 class="card-title">{{ tickets.title }}</h4>
                    </a>
                        <p class="text-end mb-0">User: {{ tickets.username }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-8" style="background-color: aquamarine;">
            <div>
                <h3>Ticket Details</h3>
            </div>
        </div>
    </div>
</div>



<!-- index.html content ends here -->
{% endblock %}

<!-- Copyright -->
{% block copyright %}
Copyright 2024 Megan Walford
{% endblock %}