{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="container p-2">
    <div class="row">
        <h1 class="py-2">Tickets</h1>
        <div class="col-sm-12 col-md-4">
            {% for ticket in object_list %}
            <div class="card mb-2">
                <div class="card-body">
                    <a href="{{ tickets.get_absolute_url }}">
                        <h4 class="card-title">{{ ticket.title }}</h4>
                    </a>
                        <p class="text-end mb-0">User: {{ ticket.username }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-8" style="background-color: aquamarine;">
            <div>
                <h3>Ticket Details</h3>
            </div>
        </div>
    </div>
</div>



<!-- index.html content ends here -->
{% endblock content %}

<!-- Copyright -->
{% block copyright %}
Copyright 2024 Megan Walford
{% endblock %}