{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- content starts here -->
<div class="container p-2">
    <div class="row">
        <h1 class="py-2">Tickets</h1>
        <div class="col-sm-12 col-md-4">
            {% for ticket in object_list %}
            <div class="card mb-2">
                <div class="card-body"> {{ticket.slug }}
                    <a href="{% url 'ticket_detail' ticket.slug %}">
                        <h4 class="card-title">{{ ticket.title }}</h4>
                    </a>
                    <p class="text-end mb-0">User: {{ ticket.username }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-12 col-md-8" style="background-color: aquamarine;">
            <div>
                <h3>Ticket Details</h3>
            </div>
        </div>
    </div>

    
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="p-2 comments
                    {% if not comment.approved and comment.author == user %}
                    faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>



<!-- content ends here -->
{% endblock content %}