{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>{{ ticket.title }}</h2>
            <hr>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Description:</div>
                <div class="col-md-8">{{ ticket.job_description }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Category:</div>
                <div class="col-md-8">{{ ticket.job_category }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Location:</div>
                <div class="col-md-8">{{ ticket.location }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Username:</div>
                <div class="col-md-8">{{ ticket.username }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Created On:</div>
                <div class="col-md-8">{{ ticket.created_on }}</div>
            </div>
            <div class="mt-5">
                <a href="{% url 'update_ticket' ticket.slug %}" class="btn btn-primary me-2">Update</a>
                <a href="{% url 'tickets' %}" class="btn btn-secondary">Return to Tickets</a>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <img src="{% static 'images/default.png' %}" class="img-fluid" alt="placeholder">
        </div> -->
    </div>
</div>
<p>Comment section to be put here</p>
<p>Ticket updates to be displayed here</p>
{% endblock content %}


<p>Commentsection to be put here</p>
<p>Ticket updates to be displayed here</p>
<!-- {% url 'update_ticket' ticket.id %} -->