{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Update a ticket-->
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="mb-2">Update Ticket Details</h2>
            <p>Please update the details of the ticket</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'tickets/ticket_form.html' %}
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary my-3" style="background-color: #00323c">Update Ticket</button>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <a href="{% url 'tickets' %}" class="btn btn-secondary my-3">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}