{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Register" %}{% endblock head_title %}

{% block content %}
<div class="col-md-8 mt-3 offset-md-2">
  <h1>{% trans "Register" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please log in <a href="{{ login_url }}">here</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" style="background-color: #00856f" type="submit">{% trans "Register" %} &raquo;</button>
  </form>
</div>

{% endblock content %}