{% extends "base.html" %}

{% block content %}

<!-- index.html content -->
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Card column -->
        <div class="col-md-12 p-3">
            <div class="card">
                <img src="/static/images/homepage-pic.jpg" alt="mountains header"
                    class="card-img-top img-fluid" style="height: 25vh; object-fit: cover;">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Welcome to the Service Savvy Portal</h1>
                    <p class="card-text md-intro fw-medium ">
                        Service Savvy is your go-to maintenance solution. Trust
                        our dedicated team to swiftly handle your maintenance needs, so you can focus on your business.
                    </p>
                    {% if user.is_authenticated %}
                    <h5 class="card-text bold-font fw-medium mb-3">
                        Welcome {{ user.username }}! 
                    </h5>
                    <div class="text-center">
                        <a href="{% url 'tickets' %}" class="btn btn-primary px-4 mx-3"
                            style="background-color: #00856f">Create or Amend tickets here!</a>
                    </div>
                    {% else %}
                    <p class="card-text md-intro fw-medium">
                        Sign in here to get started on your service requests!
                    </p>
                    <div class="text-center">
                        <a href="{% url 'account_login' %}" class="btn btn-primary px-4 mx-3 gap-3"
                            style="background-color: #00856f">Get started here!</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card m-3" style="border: 2px solid #00856f">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Emergency contact details</h1>
                    <p class="card-text fw-medium ">On-call 24/7 maintenance number:</p>
                    <h4 class="card-text lead bold-font text-danger fs-4">(+44) 07789 123456</h4>
                    <p>Only use this number if you need immediate and emergency support. Please raise a ticket for non-emergency requests</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}