{% extends "base.html" %}

{% block title %}Service Savvy{% endblock %}

{% block navbar_link %}/home/{% endblock %}

{% block navbar_title %}Service Savvy{% endblock %}

{% block content %}

<!-- index.html content -->
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Card column -->
        <div class="col-md-12 p-3">
            <div class="card">
                <img src="/static/images/francesco-ungaro-2835436.jpg" alt="mountains header"
                    class="card-img-top img-fluid" style="height: 25vh; object-fit: cover;">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Welcome to the Service Savvy Portal</h1>
                    <p class="card-text md-intro fw-medium">
                        Welcome to Service Savvy, your go-to maintenance solution. Trust
                        our dedicated team to swiftly handle your maintenance needs, so you can focus on your business.
                    </p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"
                            style="background-color: #00856f">Create Request</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                    </div>
                </div>
            </div>
            <div class="card m-3" style="border: 2px solid #00856f">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Emergency contact details</h1>
                    <p class="card-text fw-medium ">On-call 24/7 maintenance number:</p>
                    <h4 class="card-text lead text-danger fs-4">(+44) 07789 123456</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}