{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--About Information-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center">
            <img src="{% static 'images/person.png' %}" class="img-fluid" style="max-width: 75%;" />
        </div>
        <div class="col-lg-6">
            <h2 class="px-2 m-4">{{ about.full_name | safe }}</h2>
            <hr>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Job title:</div>
                <div class="col-md-8">{{ about.job_title | safe }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Phone:</div>
                <div class="col-md-8">{{ about.tel | safe }}</div>
            </div>
        </div>
    </div>
    <div class="d-lg-flex justify-content-end mb-2">
        <a href="{% url 'edit-about' about.pk %}" class="btn btn-primary" style="background-color: #00856f">Edit</a>
    </div>
    <div class="row">
        <div class="col text-lg-right">
            <p class="text-end"><em>Member since on: {{ about.member_since }}</em></p>
        </div>
    </div>
</div>

{% endblock content %}